@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html ::-moz-selection,
body ::-moz-selection {
  background-color: var(--emerald);
}

html ::selection,
body ::selection {
  background-color: var(--emerald);
}

main {
  margin: auto;
  max-width: 1400px;
  min-width: 300px;
  background-color: var(--white);
}

h1 {
  font-size: var(--font-lgx2);
  font-weight: var(--bold);
}

h2 {
  font-size: var(--font-lg);
  font-weight: var(--bold);
}

h3 {
  font-size: var(--font-md);
  font-weight: var(--bold);
}

h4 {
  font-size: var(--font-xs);
  font-weight: var(--bold);
}

a:hover {
  color: var(--emerald);
}

p,
li {
  font-size: var(--font-base);
}

span {
  display: block;
}

.header {
  width: 100%;
  background-color: var(--black);
  position: fixed;
  z-index: 3;
  overflow: hidden;
}

.nav {
  width: 100%;
  margin: auto;
}

.nav__links {
  color: var(--black);
  gap: 60px;
  padding-right: 20px;
}

.nav__links a {
  font-size: var(--font-base);
  font-weight: var(--bold);
  color: var(--gray);
}

.nav__links a:hover {
  color: var(--emerald);
}

.logo-container {
  padding-left: 20px;
}

.logo:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-inner {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 90px;
}

.footer-inner__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.footer-inner__link:hover {
  color: var(--coral);
}

.footer-inner__headline {
  font-size: 1.5rem;
}

.footer-inner__wrap-2 {
  width: 70%;
}

.footer-inner__copyright {
  font-size: var(--font-xs);
}

.hero {
  background-color: var(--black);
  height: 670px;
  color: var(--white);
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 85px;
  height: auto;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__headline {
  font-size: var(--font-xl);
  font-weight: var(--bold);
  color: var(--gray);
  line-height: 85px;
}

.hero__bottom-text {
  font-weight: var(--bold);
  font-size: var(--font-sm);
  margin-top: 20px;
}

.hero__bodytext-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 95%;
  margin-top: 60px;
}

.hero__bodytext {
  font-size: var(--font-xs);
  width: 30%;
}

.projects {
  margin: auto;
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__headline {
  margin-top: 90px;
}

.cards {
  margin-top: 90px;
}

.cards__heading {
  margin-top: 10px;
}

.cards__bodytext {
  width: 60%;
  margin-top: 6px;
}

.cards__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82%;
}

.cards__githublink {
  font-weight: var(--bold);
  font-size: var(--font-base);
}

.about-wrapper {
  background-color: var(--black);
  color: var(--white);
  height: auto;
  padding: 1px;
}

.about {
  width: 90%;
  margin: 90px auto;
}

.about__text {
  width: 80%;
  margin-top: 40px;
}

.about__p {
  margin-top: 20px;
}

.funfact {
  margin: auto;
  width: 90%;
}

.funfact__headline {
  margin-bottom: 10px;
}

.funfact__bodytext {
  width: 60%;
}

.bottom-section {
  background-color: var(--black);
  color: var(--white);
  padding: 1px;
}

.language,
.skills {
  width: 90%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 90px;
}

.language__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: 60px;
}

.language__subheading {
  margin-bottom: 20px;
}

.language__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 60px;
}

.work-wrapper {
  width: 90%;
  margin: auto;
  margin-top: 90px;
}

.work-wrapper__headline {
  margin-top: 90px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  padding-bottom: 90px;
}

.work__div-1, .work__div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.work__div-2 {
  width: 40%;
}

@media (min-width: 1400px) {
  body {
    width: 1300px;
    margin: auto;
  }
  .header {
    width: 1300px;
  }
}

@media (max-width: 1023px) {
  .nav__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    padding: 20px;
    height: 200px;
    gap: 40px;
  }
  .nav__hamburger {
    color: var(--gray);
  }
  .cards__flex {
    width: 100%;
  }
  .hero {
    height: 750px;
  }
  .hero__inner {
    padding-top: 90px;
  }
}

@media (max-width: 850px) {
  .hero__inner {
    width: 80%;
  }
  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work__div-2 {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .hero__headline {
    font-size: 3rem;
    line-height: 60px;
  }
  .hero__bottom-text {
    margin-top: 0;
  }
  .hero__inner {
    padding-top: 30px;
  }
  .hero__bodytext {
    width: 50%;
  }
  .cards__bodytext {
    width: 80%;
  }
  .language__wrapper {
    width: 100%;
  }
  .footer-inner__wrap-2 {
    width: 60%;
  }
  .skills__inner {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-inner__wrap-2 {
    margin-top: 40px;
  }
  .language__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .language__subheading {
    margin-top: 40px;
  }
  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 561px) {
  .hero__inner {
    width: 85%;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3,
  .cards__githublink {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .hero__headline {
    font-size: 2.3rem;
  }
  .about__text,
  .funfact__bodytext {
    width: 100%;
  }
}

@media (max-width: 490px) {
  main {
    text-align: center;
    margin: auto;
  }
  .footer-inner__wrap-1, .footer-inner__wrap-2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-inner__wrap-2 {
    width: 100%;
  }
  .logo-container {
    padding-left: 0;
  }
  .hero__inner {
    width: 70%;
  }
  .hero__bodytext {
    width: 60%;
  }
  .cards__bodytext {
    margin: auto;
    padding-top: 10px;
    width: 100%;
  }
  .work__div-2 {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */