@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font);
  color: var(--black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html ::-moz-selection,
body ::-moz-selection {
  background: #f7f6dd;
}

html ::selection,
body ::selection {
  background: #f7f6dd;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  max-width: 1400px;
  min-width: 300px;
}

h1 {
  font-size: var(--font-lg);
  font-weight: var(--bold);
}

h2 {
  font-size: var(--font-md);
  font-weight: var(--bold);
}

h3 {
  font-size: var(--font-sm);
  font-weight: var(--bold);
}

h4 {
  font-size: var(--font-xs);
  font-weight: var(--bold);
}

p {
  font-size: var(--font-base);
}

span {
  display: block;
}

.header {
  background-color: transparent;
  width: 100%;
}

.nav {
  width: 100%;
  margin: auto;
}

.nav__links {
  color: var(--black);
  gap: 60px;
}

.nav__links a {
  font-size: var(--font-xs);
  font-weight: var(--medium);
}

.logo-container {
  padding-left: 20px;
}

.logo:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.activeNav:after {
  content: "";
  margin: auto;
  display: block;
  position: relative;
  width: 50%;
  border: 1.5px solid var(--black);
}

.footer-inner {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 50px;
}

.footer-inner__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

@-webkit-keyframes color {
  5% {
    background: #f7f6dd;
  }
  20% {
    background: #bbcee0;
  }
  40% {
    background: #E9CFD8;
  }
  60% {
    background: #d4e2db;
  }
  80% {
    background: #f7d2df;
  }
  100% {
    background: #E2EFF4;
  }
}

@keyframes color {
  5% {
    background: #f7f6dd;
  }
  20% {
    background: #bbcee0;
  }
  40% {
    background: #E9CFD8;
  }
  60% {
    background: #d4e2db;
  }
  80% {
    background: #f7d2df;
  }
  100% {
    background: #E2EFF4;
  }
}

.bgd {
  background: var(--blue);
  -webkit-animation: color 25s infinite;
          animation: color 25s infinite;
}

.hero {
  height: 650px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  height: 560px;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__headline {
  font-size: var(--font-xl);
  font-weight: var(--boldest);
}

.hero__bottom-text {
  font-weight: var(--boldest);
  font-size: var(--font-xl);
}

.hero__img {
  margin-top: 120px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 120px;
}

.info__bodytext {
  width: 80%;
  margin-top: 20px;
  font-size: var(--font-26);
}

.info__span {
  display: block;
  margin-top: 30px;
  font-weight: var(--medium);
}

.icons, .skills, .work {
  margin-top: 140px;
}

.icons__part-1, .icons__part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 60px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 40px;
}

.work-headline {
  margin-top: 90px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 60px;
  margin-top: 60px;
}

.work__div-2, .work__div-4 {
  width: 60%;
}

.cv-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.cv-wrapper__btn {
  background-color: var(--darkblue);
  border-radius: 10px;
  width: 180px;
  height: 60px;
  font-size: var(--font-base);
  font-weight: var(--bold);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.cv-wrapper__btn:hover {
  background-color: var(--blueHover);
  -webkit-transform: var(--skew-animation);
          transform: var(--skew-animation);
}

.cv {
  margin: 50px auto;
}

.cv__headline {
  margin-top: 80px;
}

.cv__funfact {
  margin-top: 60px;
  width: 60%;
}

.cv__funfact-headline {
  margin-bottom: 10px;
}

.projects {
  margin: 140px auto;
}

.cards {
  margin-top: 60px;
}

.cards__img {
  -webkit-transition: var(--transformation);
  transition: var(--transformation);
}

.cards__img:hover {
  -webkit-transform: var(--skew-animation);
          transform: var(--skew-animation);
  opacity: 0.92;
}

.cards__heading {
  margin-top: 10px;
}

.cards__bodytext {
  width: 90%;
  margin-top: 6px;
}

@media (min-width: 1400px) {
  body {
    width: 1300px;
    margin: auto;
  }
  .header {
    width: 1300px;
  }
}

@media (max-width: 1023px) {
  .nav__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .hero__inner {
    padding-top: 30px;
  }
  .hero__headline, .hero__bottom-text {
    font-size: 3rem;
  }
  .hero__text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info {
    margin-top: 60px;
  }
  .info__bodytext {
    font-size: var(--font-sm);
  }
  .icons__part-1,
  .icons__part-2 {
    width: 90%;
  }
}

@media (max-width: 540px) {
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
  .hero__headline, .hero__bottom-text {
    font-size: 2.5rem;
  }
  .info__bodytext {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */