.cv {
    margin: 50px auto;

    &__headline {
        margin-top: 80px;
    }

    &__funfact {
        margin-top: 60px;
        width: 60%;
    }

    &__funfact-headline {
        margin-bottom: 10px;
    }
}