.header {
    background-color: var(--blue);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.nav--links {
    display: flex;
    justify-content: space-between;
    width: 20%;

    & a {
        font-size: var(--font-xs);
        font-weight: var(--medium);
    }
}



.logo:hover {
    transform: rotate(180deg);
}



