.header {
    width: 100%;
}

.nav {
    width: 100%;
    margin: auto;
    

    &__links {
        color: var(--black);
        gap: 60px;
        padding-right: 20px;
    
        & a {
            font-size: var(--font-xs);
            font-weight: var(--medium);
        }
    }
}


.logo-container {
    padding-left: 20px;
}



.logo:hover {
    transform: rotate(180deg);
}

.activeNav:after {
    content: "";
    margin: auto;
    display: block;
    position: relative;
    width: 50%;
    border: 1.5px solid var(--black);
  }
  



