.hero {
    background-color: var(--black);
    height: 670px;
    color: var(--white);

    &__inner {
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        padding-top: 85px;
        height: auto;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        justify-content: center;
        
    }

    &__headline {
        font-size: var(--font-xl);
        font-weight: var(--bold);
        color: var(--gray);
        line-height: 85px;
    }

    &__bottom-text {
        font-weight: var(--bold);
        font-size: var(--font-sm);
        margin-top: 20px;
    }

    &__bodytext-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 95%;
        margin-top: 60px;
    }

    &__bodytext {
        font-size: var(--font-xs);
        width: 30%;
    }
}

.projects {
    margin: 200px auto;
    display: flex;
    width: 90%;
    flex-direction: column;
    
    &__headline {
        margin-top: 90px;
    }
}

.cards {
    margin-top: 90px;

    &__heading {
        margin-top: 10px;
    }

    &__bodytext {
        width: 60%;
        margin-top: 6px;
    }

    &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    }

    &__githublink {
        font-weight: var(--bold);
        font-size: var(--font-base);
    }
}

.about-wrapper {
    background-color: var(--black);
    color: var(--white);
    height: auto;
    padding: 1px;
}

.about {
    width: 90%;
    margin: 90px auto;

    &__text {
        width: 80%;
        margin-top: 40px;
    }

    &__p {
        margin-top: 20px;
    }
}

.funfact {
    margin: auto;
    width: 90%;

&__headline {
    margin-bottom: 10px;
  }

  &__bodytext {
      width: 60%;
  }
}

.bottom-section {
    background-color: var(--black);
    color: var(--white);
    padding: 1px;
}

.language, 
.skills {
    width: 90%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 90px;
}

.language {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 60px;
    }

    &__subheading {
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.skills {
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 60px
    }
}

.work-wrapper {
    width: 90%;
    margin: auto;
    margin-top: 90px;

&__headline {
    margin-top: 90px;
  }
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 90px;

    &__div-1,
    &__div-2 {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__div-2 {
        width: 40%;
    }
}




