@media (min-width: 1400px) {
    body {
      width: 1300px;
      margin: auto;
   }

   .header {
       width: 1300px;
   }
}


@media (max-width: 1023px) {
    .nav {
        &__links {
            align-items: center;
            margin-top: 40px;
            padding: 20px;
            height: 200px;
            gap: 40px;
           }
        
           &__hamburger {
               color: var(--gray);
           }
    }

    .cards__flex {
        width: 100%;
    }

   .hero {
    height: 750px;

    &__inner {
        padding-top: 90px;
       }
   }
}

@media (max-width: 850px) {
    .hero__inner {
        width: 80%;
    }

    .work {
        flex-direction: column;

        &__div-2 {
            margin-top: 50px;
        }
    }
}


@media (max-width: 768px) {
    .hero {
        &__headline {
         font-size: 3rem;
         line-height: 60px;
        }

        &__bottom-text {
            margin-top: 0;
        }

        &__inner {
            padding-top: 30px;
        }

        &__bodytext {
            width: 50%;
        }
    }

    .cards__bodytext {
        width: 80%;
    }
    
    .language__wrapper {
    width: 100%;
  }

   .footer-inner__wrap-2 {
    width: 60%;
  }

  .skills__inner {
    width: 100%;
  }
}

@media (max-width: 650px) {
    .footer-inner {
        flex-direction: column;

        &__wrap-2 {
            margin-top: 40px;
        }
    }

    .language {
        &__wrapper {
            flex-direction: column;
        }

        &__subheading {
            margin-top: 40px;
        }
    }
}

@media (max-width: 561px) {
    .hero__inner {
        width: 85%;
    }

    .skills__inner {
        gap: 5px;
    }
}


@media (max-width: 540px) {
 h1{
    font-size: 2.2rem;
 }

 h2 {
    font-size: 1.9rem;
 }

 h3, 
 .cards__githublink {
    font-size: 1.2rem;
 }

 p {
    font-size: 1rem;
 }


 .hero  {
    &__headline  {
        font-size: 2.3rem;
    }
 }

 .about__text, 
 .funfact__bodytext {  
     width: 100%;
    }
}

@media (max-width: 490px) {
    main {
        text-align: center;
        margin: auto;
    }

    .footer-inner {
        &__wrap-1, 
        &__wrap-2 {
            text-align: center;
            margin-bottom: 40px;
        }

        &__wrap-2 {
            width: 100%;
        }
    }

    .logo-container {
        padding-left: 0;
    }

    .hero {
        &__inner {
            width: 70%;
        }

        &__bodytext {
            width: 60%;
        }
    }

    .skills__inner {
        flex-direction: column;
        gap: 40px;
    }
    
    .cards__bodytext {
        margin: auto;
        padding-top: 10px;
        width: 100%;
    }

    .work__div-2 {
        width: 100%;
    }
}
