@media (min-width: 1400px) {
    body {
      width: 1300px;
      margin: auto;
   }

   .header {
       width: 1300px;
   }
}


@media (max-width: 1023px) {
   .nav__links {
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
    height: 200px;
   }

   .nav {
       background-color: var(--white);
       position: fixed;
       z-index: 3;
   }

   // Home
   .hero__inner {
    padding-top: 90px;
   }
}

@media (max-width: 850px) {
    // Home
    .hero__inner {
        width: 70%;
    }

    // About
    .about {
        &__text-wrapper {
            width: 80%;
        }

        &__img {
            display: none;
        }
    }  
}


@media (max-width: 768px) {
    // Home
    .hero {
        &__headline,
        &__bottom-text {
         font-size: 3rem;
        }

        &__text {
            justify-content: flex-start;
        }
    }

    .info {
        margin-top: 60px;

        &__bodytext {
            font-size: var(--font-sm);
        }
    }

    .icons__part-1, 
    .icons__part-2 {
        width: 100%;
        gap: 10px
    }
}

@media (max-width: 690px) {
    // Home
    .skills__inner {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .footer-inner {
        flex-direction: column;
        padding-top: 20px;

        &__img-wrapper {
            margin-top: 20px;
        }
    }
}

@media (max-width: 561px) {
    // Home
    .hero__inner {
        width: 85%;
    }

    .skills__inner {
        gap: 5px;
    }
}


@media (max-width: 540px) {
 h1{
    font-size: 2.2rem;
 }

 h2 {
    font-size: 1.6rem;
 }

 h3 {
    font-size: 1.2rem;
 }

 p {
    font-size: 1rem;
 }

 // Home
 .hero  {
    &__headline,   
    &__bottom-text {
        font-size: 2.3rem;
    }
 }

.info__bodytext {
    font-size: 1.1rem;
  }
}

@media (max-width: 490px) {

    main {
        text-align: center;
        margin: auto;
    }

    .footer-inner {

        &__wrap-1 {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .logo-container {
        padding-left: 0;
    }

    .nav__links {
        padding-right: 0;
    }

    // Home
    .hero {
        &__inner {
            width: 70%;
        }
    }

    .skills__inner {
       flex-direction: column;
       gap: 40px;
    }

    .info__bodytext {
        width: 100%; 
    }

    .icons__part-1,
    .icons__part-2 {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .work {
        justify-content: space-evenly;
    }

    .cv__funfact {
        margin: auto;
        margin-top: 40px;
    }

    // Projects 
    .cards__bodytext {
        margin: auto;
    }

    // About
    .about__headline {
         margin-right: 0;
    }  
}
