.projects {
    margin: 60px auto;
}

.cards {
    margin-top: 60px;

    &__img {
        transition: var(--transformation);

        &:hover {
          transform: var(--skew-animation);
          opacity: 0.92;
        }
    }

    &__heading {
        margin-top: 10px;
    }

    &__bodytext {
        width: 90%;
        margin-top: 6px;
    }
}